<!DOCTYPE html>
<html lang="es" ng-app="app" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="V Congreso Nacional de Formación Profesional">
        <meta name="author" content="fpempresa">
        <link rel="icon" type="image/png" href="img/favicon.png">

        <title>V Congreso Nacional de Formación Profesional</title>

        <link href="./lib/bootstrap/css/bootstrap.css"                 rel="stylesheet" type="text/css" />
        <link href="./lib/fontawesome/css/font-awesome.css"            rel="stylesheet" type="text/css" />
        <link href="./css/site/site.css"                               rel="stylesheet" type="text/css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


        <script type="text/javascript" src="./lib/jquery/js/jquery.js"></script>
        <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.js"></script>

        <script type='text/javascript' src='./lib/angularjs/js/angular.js'></script>
        <script type="text/javascript" src="./lib/easing/js/jquery.easing.min.js"></script>

        <script type="text/javascript" src="index.js"></script>
        <script type="text/javascript" src="./common/presentation/directive/clickbuttononclick.js"></script>
        <script type="text/javascript" src="./common/presentation/service/animatescroll.js"></script>
    </head>

    <body id="top"  ng-controller="IndexController" style="background-color: #F6F8F7" >

        <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation"  >
            <div class="container-fluid" >
                <div class="navbar-header">
                    <button id="buttonMenuHeader" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href ng-click="animateScroll.toElement('top')">
                        <img src="./img/logo/logo.png"  alt="logo"  >&nbsp;
                    </a>
                </div>


                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">

                        <li class="hidden">
                            <a href ng-click="animateScroll.toElement('top')" fpe-click-button-on-click="buttonMenuHeader"></a>
                        </li>
                        <li>
                            <a  href="https://goo.gl/forms/YqAs6hUf96rNiuR93" >INSCRIPCI&Oacute;N</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('donde')" fpe-click-button-on-click="buttonMenuHeader">DONDE</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('agenda')" fpe-click-button-on-click="buttonMenuHeader">AGENDA</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('alojamiento')" fpe-click-button-on-click="buttonMenuHeader">ALOJAMIENTO</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('objetivos')" fpe-click-button-on-click="buttonMenuHeader">OBJETIVOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="intro" >
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" >
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" style="color:#372919">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>                            
                            <h3 style="font-size: 30px;text-transform: uppercase"><strong>Ser profesor de FP hoy</strong></h3>
                            <br>
                            <h1 style="font-size: 70px;"><strong>VI CONGRESO NACIONAL</strong><br>DE FORMACIÓN<br>PROFESIONAL</h1>
                            <br>
                            <p class="intro-text" style="font-size: 45px;"><span style="color: #000000">Gijón 4 Y 5 de Abril de 2019</span><br><span style="font-weight: bolder">Auditorio de la laboral</span></p>
                            <br>
                            <p><a class="btn btn-xl form__button form__button--primary" href=""    >INSCRIPCI&Oacute;N</a></p>
                            <a href ng-click="animateScroll.toElement('donde')" style="color:#6E8654;border-color: #6E8654" class="btn button-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <section id="donde" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;DONDE&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div> 
            <div class="row" >
                <div class="col-xs-12">
                    <h1>4 Y 5 de Abril de 2019</h1>
                    <h2>Gijón</h2>
                    
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-high"><strong>Auditorio de la laboral</strong><br>
                        Carrer de Berruguete, 126<br> 
                        08035 Barcelona<br> 
                        Metro Mundet<br> 
                    </p>
                    <br>
                    <br>
                    <br>
                </div>


            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.246349293297!2d2.145255815767773!3d41.43387600107431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bd58587c97c3%3A0x388ea765a96af8ee!2sHotel+Alimara+Barcelona!5e0!3m2!1ses!2ses!4v1524079707487" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </section>


        <section id="agenda" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;AGENDA&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <h3><strong>Jueves 24 de Mayo</strong></h3>

                    <table class="table table-bordered table-striped">
                        <tr class="active">
                            <th style="width:  100px;text-align: center">Hora</th>
                            <th style="text-align: center" colspan="2">Actividad</th>
                        </tr>
                        <tr>
                            <td>15:00&nbsp;h.</td>
                            <td colspan="2">Acreditación</td>
                        </tr>
                        <tr>
                            <td>15:30&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Bienvenida</strong><br>
                                <div style="text-align: left">
                                    Luis García Domínguez: Presidente de la Asociación de Centros de FP Fpempresa<br>
                                    Mercedes  Chacón Delgado: Directora de la Fundación Bankia por la Formación Dual<br>
                                    Estanislau Vidal-Folch de Balanzó: Subdirector General de Programas, Formación e Innovación del Departamento de Educación de la Generalitat <br>
                                    Juan José Escobar Sanz: Subdirector Gral. de Orientación, Formación Profesional y FP Dual del MECD<br>
                                    Gerardo Pisarello Prados: Primer Teniente de Alcalde del Ayuntamiento de Barcelona<br>
                                </div>                                
                            </td>
                        </tr>                        
                        <tr>
                            
                            <td>16:00&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Ponencia: Retos para la Formación Profesional</strong><br>
                                <div style="text-align: left">
                                    Jorge Arévalo Turrillas: Presidente de honor de FPempresa y Viceconsejero de Formación Profesional del País Vasco.<br>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>16:30&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Ponencia: Equipos de trabajo y motivación en FP</strong><br>
                                <div style="text-align: left">
                                    Xesco Espar: Experto y líder de pensamiento en Liderazgo, Trabajo en Equipo, Motivación y Maestría Personal.<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>17:00&nbsp;h.</td>
                            <td colspan="2">
                                Turno de preguntas<br>
                            </td>
                        </tr>
                        <tr>
                            <td>17:15&nbsp;h.</td>
                            <td>
                                <strong>Actividad 1: Mesa  técnica</strong><br>
                                <div style="text-align: left">
                                    Para elaboración del Documento Visión de la Asociación de Centros de Fp sobre la situación de la FP en el 2018. Participarán  un representante de cada centro asociado<br>
                                </div>                                
                            </td>
                            <td  >
                                <strong>Actividad 2: Visitas a 4 centros específicos de fp de la ciudad de barcelona</strong><br>
                                <div style="text-align: left">
                                    Organizados en 4 grupos diferenciados. Se dispondrá de autobuses y guías para cada centro.<br>
                                    <ul>
                                        <li>1ª Opción: Visita a un centro de referencia familia Hotelería y Turismo (INS Escola d’Hosteleria i Turisme de Barcelona)</li>
                                        <li>2ª Opción: Visita a un centro de referencia familia Sanitaria (INS Bonanova)</li>
                                        <li>3ª Opción: Visita a un centro de referencia familias industriales (INS Escola del Treball de Barcelona)</li>
                                        <li>4º Opción: Visita a un desfile de moda de alumnos, organizado por los centros INS Anna Gironella Mundet (familia Textil, Confección y Piel) INS Vall d’Hebron (familia Imagen Personal), INS Lluïsa Cura (familia Marketing y Publicitat) y INS Joan Brosa.</li>
                                    </ul>
                                </div>       




                            </td>                            
                        </tr>
                        <tr>
                            <td>18:30&nbsp;h.</td>
                            <td  colspan="2">
                                <strong>Asamblea Anual de la Asociación</strong><br>
                                <div style="text-align: left">
                                    Representantes de los Centros Asociados<br>
                                </div>                                
                            </td>
                        </tr>
                        <tr>
                            <td>21:00&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Cena anual de la asociación</strong><br>
                                <div style="text-align: left">
                                    Representantes de los Centros Asociados e invitados
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" >
                <div class="col-xs-12">
                    <h3><strong>Viernes 25 de Mayo</strong></h3>

                    <table class="table table-bordered table-striped">
                        <tr class="active">
                            <th style="min: 100px;text-align: center">Hora</th>
                            <th style="text-align: center">Actividad</th>
                        </tr>
                        <tr>
                            <td>09:00&nbsp;h.</td>
                            <td>
                                <strong>Actualidad de la Formación Profesional</strong><br>
                                <br>
                                <strong>Ciclos adaptados y formación dual: combinación perfecta para las empresas</strong><br>
                                <div style="text-align: left">
                                    Miriam Milán Gómez: Asesora Técnica de la Dirección General de FP y Enseñanza del Departamento de Enseñanza de la Generalitat <br>       
                                </div>
                                <br>
                                <strong>El Consorcio de Educación de Barcelona y su modelo de intervención de FP en la ciudad.</strong><br>
                                <div style="text-align: left">
                                    Gemma Verdés Prieto: Directora de Enseñanzas Postobligatorias del CEB<br>
                                    Josep Ramón Domingo: Gestor de Proyectos del CEB<br>
                                </div>
                                <br>
                                <strong>Legislación de la Formación Profesional Dual</strong><br>
                                <div style="text-align: left">
                                    Juan José Escobar Sanz: Subdirector General de Orientación, Formación Profesional y Formación Profesional Dual del MECD<br>       
                                </div>                            
                                
                                
                            </td>
                        </tr>
                        <tr>
                            <td>10:00&nbsp;h.</td>
                            <td>
                                <strong>Presentación: Convocatoria Dualiza</strong><br>
                                <div style="text-align: left">
                                    Juan Carlos Lauder: Director de Proyectos y de la Fundación Bankia para la Formación Dual <br>
                                    Sergio San Martín: Secretario de la Asociación FPempresa<br>
                                    Pere Soriano Puchol. Coordinador de la Secretaría Técnica de la Convocatoria Dualiza<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>10:20&nbsp;h.</td>
                            <td>
                                <strong>Panel: Proyectos  Dualiza de  colaboración entre Centros de FP y empresas</strong><br>

                                <br>
                                <strong>FP Dual en mantenimiento de aeronaves</strong><br>
                                <div style="text-align: left">
                                    Juan José González: CIFP Aguas Nuevas de Albacete<br>
                                </div>
                                <br>
                                <strong>Diseño del ciclo de GM de Redes y Estaciones de tratamiento de aguas con Grupo Agbar e de innovaciones metodológicas mediante la Realidad Virtual</strong><br>
                                <div style="text-align: left">
                                    José María García Mundet: Instituto Escola Municipal del Treball, de Granollers<br>
                                </div>
                                <br>
                                <strong>Metrología Dual</strong><br>
                                <div style="text-align: left">
                                    José Luís Novoa: Armería Eskola de Eibar<br>
                                </div>
                                <br>
                                <strong>Montilla-Moriles: el resurgir</strong><br>
                                <div style="text-align: left">
                                    Juan José Gallego: IES Emilio Canalejo  de Montilla<br>
                                </div>                              
                                
                            </td>
                        </tr>
                        <tr class="info">
                            <td>11:00&nbsp;h.</td>
                            <td>
                                Café y tiempo para el intercambio de ideas<br>
                            </td>
                        </tr>
                        <tr>
                            <td>11:30&nbsp;h.</td>
                            <td>
                                <strong>Ponencia: Canadá : La educación técnica y profesional. Visión de Futuro</strong><br>
                                <div style="text-align: left">
                                    Alain Roy: Vicepresidente de la  International Partnerships, Colleges and Institutes of Canada <br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>12:00&nbsp;h.</td>
                            <td>
                                <strong>Ponencia: La relación entre centros de FP las empresas del sector: el caso de la electromedina</strong><br>
                                <div style="text-align: left">
                                    Juan Manuel Eugenio Barroso Versus Consultores
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>12:30&nbsp;h.</td>
                            <td>
                                Debate<br>
                            </td>
                        </tr>                        <tr>
                            <td>13:00&nbsp;h.</td>
                            <td>
                                <strong>Presentación documento congresual: situación actual de la FP, la visión de los centros de fp</strong><br>
                                <div style="text-align: left">
                                    Luis García Domínguez. Presidente de la Asociación de Centros de Fp “Fpempresa”<br>
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>13:30&nbsp;h.</td>
                            <td>
                                Comida (en el mismo lugar del congreso)
                            </td>
                        </tr>
                        <tr>
                            <td>15:00&nbsp;h.</td>
                            <td>
                                <strong>Panel de expertos: Buenas prácticas en Formación Profesional: una mirada diferente</strong><br>

                                <br>
                                <strong>Responsabilidad Social en la FP</strong><br>
                                <div style="text-align: left">
                                    Fernando Sansaloni Felis: Director, IES Cotes Baixes de Alcoi<br>
                                </div>

                                <br>
                                <strong>Canastell Inclusivo: Una experiencia cooperativa desde el aprendizaje</strong><br>
                                <div style="text-align: left">
                                   Eugenio Toledo Pastor: Coordinador de Igualdad y Convivencia, CIPFP Canastell de Sant Vicent del Raspeig <br>
                                </div>

                                <br>
                                <strong>Una mirada al cuarto mundo</strong><br>
                                <div style="text-align: left">
                                    Pilar Godínez Centoira: Jefa del Departamento de Optica y Responsable del Innova FP, Institut Joan Brossa de Barcelona<br>
                                </div>

                                <br>
                                <strong>Integración de competencias Industria 4.0 en estructura basada en retos</strong><br>
                                <div style="text-align: left">
                                    Daniel Irazola Atxa: Director, Maristak Durango<br>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>16:30&nbsp;h.</td>
                            <td>
                                <strong>Conclusiones y relato del Congreso</strong><br>
                                <div style="text-align: left">
                                    Joan Sarrión Ochando:Vicepresidente de la Asociación de Centros de Fp FPempresa
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>17:00&nbsp;h.</td>
                            <td>
                                Fin del Congreso
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>
        <section id="alojamiento" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;ALOJAMIENTO&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <h2>Hotel Alimara</h2>
                    <span class="label label-primary" style="font-size: 1.2em;">Donde se realiza el V Congreso</span>
                    <br>
                    <br>
                    <br>
                </div>
            </div>       
            <div class="row" >
                <div class="col-xs-12 col-lg-5">                   
                    <table class="table table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Tipos de Habitación</th> 
                                <th>Tarifa por habitación y noche*</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td>Doble de uso individual</td> 
                                <td>138 €</td> 
                            </tr> 
                            <tr> 
                                <td>Doble</td> 
                                <td>153 €</td> 
                            </tr>                             
                        </tbody> 
                        <tfoot>
                            <tr> 
                                <td colspan="2">
                                    *Condiciones:La tarifa incluye: 10% de IVA, disponibilidad de WIFI, desayuno buffet, La tarifa no incluye el impuesto turístico de 1,21€ por persona y noche  
                                </td>  
                            </tr>
                        </tfoot>
                    </table>
                    <address>
                            <strong>Calle Berruguete, 126</strong><br>
                            08035-BARCELONA<br>
                            Telèfon: +34 935 040 444<br>
                            Fax: +34 934 279 292 6<br>
                            <a href="http://www.alimarahotel.com">www.alimarahotel.com</a>
                    </address>                     
                </div>                 
                <div class="col-xs-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.2465346250783!2d2.1452558159931985!3d41.433871979259834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bd58587c97c3%3A0x388ea765a96af8ee!2sHotel+Alimara+Barcelona!5e0!3m2!1ses!2ses!4v1524812954363" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
               
            </div> 
            <div class="row" > 
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>            
            <div class="row" > 
                <div class="col-xs-12">
                    <h2>Residencia Universitaria Ágora BCN</h2>
                    <span class="label label-primary" style="font-size: 1.2em;"> A 10 minutos andando del congreso</span>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            
            <div class="row" > 
                <div class="col-xs-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.990196060632!2d2.1465575159933374!3d41.43943437925947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bd5ee2d8748f%3A0x191748547b8083ca!2s%C3%80gora+BCN.+Residencia+Universitaria+Internacional!5e0!3m2!1ses!2ses!4v1524813368374" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-xs-12 col-lg-5">
                    <table class="table table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Tipos de Habitación</th> 
                                <th>Tarifa por habitación y noche*</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td>Individual Estándar</td> 
                                <td>44 €</td> 
                            </tr> 
                            <tr> 
                                <td>Twin Estándar</td> 
                                <td>52 €</td> 
                            </tr>
                            <tr> 
                                <td>Individual Superior</td> 
                                <td>60 €</td> 
                            </tr>
                            <tr> 
                                <td>Doble Superior</td> 
                                <td>70 €</td> 
                            </tr>                            
                        </tbody> 
                        <tfoot>
                            <tr> 
                                <td colspan="2">
                                    *Condiciones:La tarifa incluye el 10% de IVA.Silencio a partir de las 23.00h.Edificio libre de humo.No se permite consumo bebidas alcohólicas en todo el recinto  
                                </td>  
                            </tr>
                        </tfoot>
                    </table>
                    <address>
                            <strong>Passeig dels Castanyers, 21</strong><br>
                            08035 Barcelona<br>
                            Telèfon: +34 931 669 000<br>
                            <a href="http://www.agorabcn.com">www.agorabcn.com</a>
                    </address>
                </div>                
            </div>             
        </section>
        <section id="objetivos" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;OBJETIVOS&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        El 6º Congreso de Formación Profesional organizado por la Asociación de Centros de FP FPempresa, 
                        tendrá como objetivos reflexionar sobre la situación, los retos y horizontes de la Formación Profesional en España, 
                        además de servir de encuentro para todos los actores implicados en la misma. 
                        El eje central del congreso será: Nuevos retos para la docencia de la FP, la selección, la gestión, la formación y 
                        la evaluación del docente como elemento clave del sistema.
                    </p>
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        Al mismo tiempo se desarrollará la Asamblea Anual de la Asociación a la que pertenecen más de 160 centros públicos y privados de toda España.
                    </p>
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        El Congreso será patrocinado por la Fundación Bankia por la Formación Dual y 
                        con la colaboración de la Consejería de Educación del Principado de Asturias y 
                        está abierto a todos los interesados en la Formación Profesional hasta completar el límite de inscripción.                     
                    </p>
                </div>





            </div>
        </section>


        <section id="patrocinadores" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row"  >
                <div class="col-md-4 col-sm-4 col-xs-12" style="font-size: 18px;text-align: left;font-weight:bold">Organiza:<a href="http://www.fpempresa.net"><img src="./img/logo/logo_azul_medio.png" title="FPempresa"/></a></div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="font-size: 18px;text-align: left;font-weight:bold">Patrocina:<a href="http://www.bankia.es"><img  height="100px" src="./img/logo/dualiza.jpg" title="FP Dual Bankia"  /></a></div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <br>

        </section>



        <footer  class="container-fluid section__container  section--background-color-dark section--color-light-high">

            <p class="section__text  section--color-light-high"  >
                <a href="https://twitter.com/fp_empresa" target="_blank" class="social__icon section--color-light"><i class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;#fpempresa
<!--          <a href="https://www.facebook.com/asociacion.fpempresa" target="_blank" class="social__icon"><i class="fa fa-facebook-square"></i></a>&nbsp;&nbsp;
                <a href="https://plus.google.com/+FPempresaNet/posts" target="_blank" class="social__icon"><i class="fa fa-google-plus-square"></i></a> -->
                <br>
                <br>
                <a href="http://fpempresa.net"  class="section--color-light">&copy; 2017 Asociaci&oacute;n de centros de FP (AC-FP)</a>
                <br>
                <br>
            </p>
        </footer>



    </body>
</html>
