<!DOCTYPE html>
<html lang="es" ng-app="app" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="V Congreso Nacional de Formación Profesional">
        <meta name="author" content="fpempresa">
        <link rel="icon" href="img/favicon.png"  />

        <title>VI Congreso Nacional de Formación Profesional-Gijón</title>

        <link href="./lib/bootstrap/css/bootstrap.css"                 rel="stylesheet" type="text/css" />
        <link href="./lib/fontawesome/css/font-awesome.css"            rel="stylesheet" type="text/css" />
        <link href="./css/site/site.css"                               rel="stylesheet" type="text/css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


        <script type="text/javascript" src="./lib/jquery/js/jquery.js"></script>
        <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.js"></script>

        <script type='text/javascript' src='./lib/angularjs/js/angular.js'></script>
        <script type="text/javascript" src="./lib/easing/js/jquery.easing.min.js"></script>

        <script type="text/javascript" src="index.js"></script>
        <script type="text/javascript" src="./common/presentation/directive/clickbuttononclick.js"></script>
        <script type="text/javascript" src="./common/presentation/service/animatescroll.js"></script>
    </head>

    <body id="top"  ng-controller="IndexController" style="background-color: #F6F8F7" >

        <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation"  >
            <div class="container-fluid" >
                <div class="navbar-header">
                    <button id="buttonMenuHeader" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href ng-click="animateScroll.toElement('top')">
                        <img src="./img/logo/logo_fp_empresa.jpg"  alt="logo"  >&nbsp;
                    </a>
                </div>


                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">

                        <li class="hidden">
                            <a href ng-click="animateScroll.toElement('top')" fpe-click-button-on-click="buttonMenuHeader"></a>
                        </li>
                        <li>
                            <a  href="https://goo.gl/forms/t0nophg5FORP03GE2" >INSCRIPCI&Oacute;N</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('donde')" fpe-click-button-on-click="buttonMenuHeader">DONDE</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('agenda')" fpe-click-button-on-click="buttonMenuHeader">AGENDA</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('alojamiento')" fpe-click-button-on-click="buttonMenuHeader">ALOJAMIENTO</a>
                        </li>
                        <li>
                            <a  href ng-click="animateScroll.toElement('objetivos')" fpe-click-button-on-click="buttonMenuHeader">OBJETIVOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="intro" >
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" >
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" style="color:#372919">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>                            
                            <h3 style="font-size: 30px;text-transform: uppercase"><strong>Ser profesor de FP hoy</strong></h3>
                            <br>
                            <h1 style="font-size: 70px;"><strong>VI CONGRESO NACIONAL</strong><br>DE FORMACIÓN<br>PROFESIONAL</h1>
                            <br>
                            <p class="intro-text" style="font-size: 45px;"><span style="color: #000000">Gijón 4 Y 5 de Abril de 2019</span><br><span style="font-weight: bolder">Auditorio de la laboral</span></p>
                            <br>
                            <p><a class="btn btn-xl form__button form__button--primary" href=""    >INSCRIPCI&Oacute;N</a></p>
                            <a href="https://goo.gl/forms/t0nophg5FORP03GE2" style="color:#6E8654;border-color: #6E8654" class="btn button-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <section id="donde" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-3">

                    <div class="alert alert-success">
                        <h4>Secretaría del Congreso:Begoña Menéndez</h4>

                        <i class="glyphicon glyphicon-envelope"></i> congresofp.gijon@gmail.com
                        <br>
                        <i class="glyphicon glyphicon-phone-alt"></i> 655 19 13 64
                    </div>

                </div>
            </div>              
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;DONDE&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div> 
         
            <div class="row" >
                <div class="col-xs-12">
                    <h1>4 Y 5 de Abril de 2019</h1>
                    <h2>Gijón</h2>

                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-high"><strong>Teatro de la Laboral</strong><br>
                        Calle Luis Moya Blanco, 261<br> 
                        33203 Gijón<br> 
                        (Laboral Ciudad de la Cultura)<br> 
                    </p>
                    <br>
                    <br>
                    <br>
                </div>


            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.9210590032694!2d-5.6172786840429625!3d43.52483886873868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367b1a200bd50f%3A0x88711636275e0532!2sTeatro+de+la+Laboral!5e0!3m2!1ses!2ses!4v1550853148320" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </section>


        <section id="agenda" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;AGENDA&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <h3><strong>Jueves 4 de Abril (Teatro de la laboral)</strong></h3>

                    <table class="table table-bordered table-striped">
                        <tr class="active">
                            <th style="width:  100px;text-align: center">Hora</th>
                            <th style="text-align: center" colspan="2">Actividad</th>
                        </tr>
                        <tr>
                            <td>15:00&nbsp;h.</td>
                            <td colspan="2">Acreditacion participantes</td>
                        </tr>
                        <tr>
                            <td>15:30&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Presentacion del congreso</strong><br>
                                <div style="text-align: left">
                                    Genaro Alonso Mejido: Consejero de Educación del Principado de Asturias<br>
                                    Clara Sanz: Directora General de FP del Ministerio de Educacion y FP<br>
                                    Jose Ignacio Goirigolzarri: Presidente de Bankia<br>
                                    Luis García Domínguez: Presidente de la Asociacion de Centros de FP ,FPempresa<br>

                                </div>                                
                            </td>
                        </tr>                        
                        <tr>

                            <td>16.30&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Ponencia clave: Retos actuales para la profesion docente en FP</strong><br>
                                <div style="text-align: left">
                                    Jorge Arévalo Turrillas: Viceconsejero de FP del Gobierno Vasco.<br>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>17:30&nbsp;h.</td>
                            <td style="width: 40%">
                                <strong>Actividad A: Reservada para los representantes designados de  cada centro de la asociación</strong><br>
                                <div style="text-align: left">

                                    <ul>
                                        <li>Mesa tecnica: La vision de los centros sobre la FP elaboración del documento congresual del 6º Congreso</li>
                                        <li>Asamblea anual de la asociacion</li>
                                </div>                                
                            </td>
                            <td  style="width: 60%" >
                                <strong>Actividad B: Resto de congresistas</strong><br>
                                <div style="text-align: left">
                                    Visita centros educativos específicos e innovadores del principado de asturias.<br>
                                    <div class="alert alert-success">En la inscripción deberán señalar el centro que quieren visitar preferentemente</div>
                                    <ul>
                                        <li>CIPFP La Laboral de Gijón: Familias profesionales, actividad físico deportiva, administración y gestión, comercio y marketing, fabricación mecánica, informáticas y comunicaciones, instalaciones y mantenimiento, madera, mueble y corcho y química.</li>
                                        <li>CIPFP Cerdeño de Oviedo : Familias profesionales sanidad, servicios a la comunidad, electrónica y fabricación mecánica</li>
                                        <li>CIPFP Hosteleria y Turismo de Gijón: Familia profesional de hostelería y turismo.</li>
                                    </ul>
                                </div>       




                            </td>                            
                        </tr>
                        <tr>
                            <td>20:00&nbsp;h.</td>
                            <td colspan="2">
                                <strong>Cena anual de la asociación en el centro la laboral</strong><br>
                                <div style="text-align: left">
                                    Representantes de los Centros Asociados e invitados
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" >
                <div class="col-xs-12">
                    <h3><strong>Viernes 5 de Abril (Teatro de la laboral e instalaciones anejas)</strong></h3>

                    <table class="table table-bordered table-striped">
                        <tr class="active">
                            <th style="min: 100px;text-align: center">Hora</th>
                            <th style="text-align: center">Actividad</th>
                        </tr>
                        <tr>
                            <td>9:00&nbsp;h.</td>
                            <td>
                                <strong>Ponencia clave 2 : perspectivas  y tensiones de la FP en España</strong><br>
                                <div style="text-align: left">
                                    Jose Saturnino Martínez García:Profesor de sociologia en la Universidad de la Laguna<br>
                                </div>
                            </td>
                        </tr>  
                        <tr>
                            <td>9:40&nbsp;h.</td>
                            <td>
                                <strong>ponencia clave 3 : perspectivas  y tensiones de la FP en España</strong><br>
                                <div style="text-align: left">
                                    Raúl Santiago Campión: Director Master en Metodologias emergentes y aplicadas a la educación de la Universidad de la Rioja.<br>
                                </div>
                            </td>
                        </tr>  
                        <tr>
                            <td>10.20&nbsp;h.</td>
                            <td>
                                <strong>Mesa Redonda: Buenas practicas en la formación de profesores</strong><br>
                                <div style="text-align: left">
                                    Presentación de cuatro prácticas innovadoras centradas en la formación de los profesores o en la aplicación de metodologías innovadoras y exitosas.<br>
                                </div>
                            </td>
                        </tr>  
                        <tr class="info">
                            <td>11:00&nbsp;h.</td>
                            <td>
                                Café<br>
                            </td>
                        </tr>
                        <tr>
                            <td>11:30&nbsp;h.</td>
                            <td>
                                <strong>Presentacion del documento congresual de la asociación</strong><br>
                            </td>
                        </tr>
                        <tr>
                            <td>11.45&nbsp;h.</td>
                            <td>
                                <strong>FP el reto de formar profesores de FP para el mundo de hoy</strong><br>
                                <div style="text-align: left">
                                    Representante del ME y FP <br>
                                    Representante de la Consejeria de Educación del Principado de Asturias <br>                                    
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <td>12:40&nbsp;h.</td>
                            <td>
                                <strong>Que opina el auditorio</strong><br>
                                <div style="text-align: left">
                                    Unas preguntas <br>                                    
                                </div>                                
                            </td>
                        </tr>
                        <tr>
                            <td>13:00&nbsp;h.</td>
                            <td>
                                <strong>Reconocimiento a los proyectos dualiza de la primera convocatoria.</strong><br>
                            </td>
                        </tr>
                        <tr class="info">
                            <td>14:00&nbsp;h.</td>
                            <td>
                                Comida
                            </td>
                        </tr>

                        <tr>
                            <td>15:00&nbsp;h.</td>
                            <td>
                                <strong>Mesas de trabajo: Debate ideas clave para una formación del profesorado de FP de calidad.</strong><br>
                                <div style="text-align: left">
                                    <div class="alert alert-success">Cada congresista se inscribirá en una mesa, que serán simultaneas, y en las cuales la organización del congreso designará unos dinamizadores y relatores.</div> 
                                    <p>Cada mesa elaborará conclusiones que se expondrán en el salón plenario posteriormente. <br>Con todas ellas se realizará un documento de reflexión que se hará público.</p>
                                    <ul style="text-align: left">
                                        <li>Mesa 1: Cómo mejorar criterios y sistemas de selección del profesorado de FP</li>
                                        <li>Mesa 2: La formación inicial: ¿se puede mejorar el master del profesorado de FP y el prácticum?</li>
                                        <li>Mesa 3: Formación continua del profesorado, como se puede mejorar las actividades</li>
                                        <li>Mesa 4: Modelos colaborativos de formación de profesores. ¿Qué se puede hacer en los centros para optimizar la formación de los profesores de FP? </li>
                                        <li>Mesa 5: La evaluación del profesorado</li>
                                        <li>Mesa 6: Hay que flexibilizar la atribución docentes de los títulos y la diferencia entre PT y PS?</li>
                                    </ul>
                                </div>
                            </td>
                        </tr> 

                        <tr>
                            <td>16:30&nbsp;h.</td>
                            <td>
                                <strong>Conclusiones de los grupos de trabajo.</strong><br>
                            </td>
                        </tr>
                        <tr>
                            <td>17:00&nbsp;h.</td>
                            <td>
                                <strong>Resumen en Visual Thinking del congreso y clausura.</strong><br>
                                <br>         </td>
                        </tr>

                    </table>
                </div>
            </div>

        </section><br>
        <section id="alojamiento" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;ALOJAMIENTO&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>    
            <div class="row" > 
                <div class="col-xs-12">


                    <div class="alert alert-success">La Asociación pone a disposición de todos los participantes en el concreso, las siguientes rutas de autobús</div>

                    <table class="table table-bordered table-responsive table-condensed table-striped"> 
                        <thead> 
                            <tr> 
                                <th style="text-align: center">Dia</th> 
                                <th style="text-align: center">Origen</th> 
                                <th style="text-align: center">Destino</th> 
                                <th style="text-align: center">Notas</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td rowspan="4">Jueves 4</td> 
                                <td>Hotel Begoña</td> 
                                <td>La Laboral</td> 
                                <td>Antes del inicio del congreso</td> 
                            </tr> 
                            <tr> 
                                <td>La Laboral</td> 
                                <td>CIPFP Cerdeño</td> 
                                <td>17:30 y al finalizar la visita vuelta a La Laboral</td> 
                            </tr> 
                            <tr> 
                                <td>La Laboral</td> 
                                <td>CIPFP Hosteleria y Turismo</td> 
                                <td>17:30 y al finalizar la visita vuelta a La Laboral</td> 
                            </tr>                             
                            <tr> 
                                <td>La Laboral</td> 
                                <td>Hotel Begoña</td> 
                                <td>Al finalizar la cena</td> 
                            </tr> 
                            <tr > 
                                <td  rowspan="2">Viernes 5</td> 
                                <td>Hotel Begoña</td> 
                                <td>La Laboral</td> 
                                <td>Antes del inicio del congreso</td> 
                            </tr> 
                            <tr> 
                                <td>La Laboral</td> 
                                <td>Hotel Begoña</td> 
                                <td>Al finalizar el congreso</td> 
                            </tr>                             
                        </tbody> 
                    </table>

                </div>
            </div>        
            <div class="row" > 
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" > 
                <div class="col-xs-12">
                    <h2>Hotel Begoña Centro <span style="color:#EABE3F"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h2>
                    <br>

                    <br>
                </div>
            </div>

            <div class="row" > 
                <div class="col-xs-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.337356954463!2d-5.662930184506016!3d43.537009179125405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367c61f6710fd9%3A0x41ef9070ba11b810!2sHotel+Bego%C3%B1a+Centro!5e0!3m2!1ses!2ses!4v1550858473182" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                
                </div>
                <div class="col-xs-12 col-lg-5">
                    <table class="table table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Tipos de Habitación</th> 
                                <th>Tarifa por habitación y noche</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td>Habitación doble HD</td> 
                                <td>66 €</td> 
                            </tr>                           
                        </tbody> 
                    </table>
                    <address>
                        <strong>Av. de la Costa, 44</strong><br>
                        33205 Gijón<br>
                        <i class="glyphicon glyphicon-phone-alt"></i> 985 14 72 11<br>
                        <i class="glyphicon glyphicon-globe"></i> <a href="https://www.hotelesbegona.com/begona-centro/">www.hotelesbegona.com</a>
                    </address>
                </div>                
            </div>  
            <div class="row" > 
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" > 
                <div class="col-xs-12">
                    <h2>Hotel Acebos Azabache <span style="color:#EABE3F"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h2>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row" > 
                <div class="col-xs-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.30000570508!2d-5.664273684042765!3d43.53778786790321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367c6185cf9409%3A0xd5a29197145c6b72!2sHotel+Acebos+Azabache+Gij%C3%B3n!5e0!3m2!1ses!2ses!4v1550859027778" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-xs-12 col-lg-5">
                    <table class="table table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Tipos de Habitación</th> 
                                <th>Tarifa por habitación y noche</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td>Habitación doble HD</td> 
                                <td>60 €</td> 
                            </tr>
                            <tr> 
                                <td>Habitación triple HD </td> 
                                <td>85 €</td> 
                            </tr>                            
                        </tbody> 
                    </table>
                    <address>
                        <strong>Calle Alfredo Truan, 2,  Gijón</strong><br>
                        33205 Gijón<br>
                        <i class="glyphicon glyphicon-phone-alt"></i> 984 39 69 21<br>
                        <i class="glyphicon glyphicon-globe"></i> <a href="http://www.hotelacebosazabachegijon.com/">www.hotelacebosazabachegijon.com</a>
                    </address>
                </div>                
            </div>             
            <div class="row" > 
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" > 
                <div class="col-xs-12">
                    <h2>Hotel Hernán Cortés <span style="color:#EABE3F"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h2>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row" > 
                <div class="col-xs-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.211538314544!2d-5.664614284042672!3d43.53963216778411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367c6142f75817%3A0xa6287cfb50fb543a!2zSG90ZWwgSGVybsOhbiBDb3J0w6lz!5e0!3m2!1ses!2ses!4v1550859295736" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-xs-12 col-lg-5">
                    <table class="table table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Tipos de Habitación</th> 
                                <th>Tarifa por habitación y noche</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td>Habitación doble HD </td> 
                                <td>100 €</td> 
                            </tr>                           
                        </tbody> 
                    </table>
                    <address>
                        <strong>Calle Fernández Vallín, 5</strong><br>
                        33205 Gijón<br>
                        <i class="glyphicon glyphicon-phone-alt"></i> 985 34 60 00<br>
                        <i class="glyphicon glyphicon-globe"></i> <a href="http://www.hotelhernancortes.es/">www.hotelhernancortes.es</a>
                    </address>
                </div>                
            </div>  
            <div class="row" > 
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" > 
                <div class="col-xs-12">
                    <h2>Hotel Abba Playa <span style="color:#EABE3F"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h2>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row" > 
                <div class="col-xs-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.1367682494642!2d-5.6453806840426655!3d43.541190867683596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367b80d9fa003d%3A0x3a4b97f67e037c8d!2sabba+Playa+Gij%C3%B3n+Hotel!5e0!3m2!1ses!2ses!4v1550859619140" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-xs-12 col-lg-5">
                    <table class="table table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Tipos de Habitación</th> 
                                <th>Tarifa por habitación y noche</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td>Habitación doble HD</td> 
                                <td>105 €</td> 
                            </tr>                           
                        </tbody> 
                    </table>
                    <address>
                        <strong>Paseo Dr. Fleming, 37</strong><br>
                        33203 Gijón<br>
                        <i class="glyphicon glyphicon-phone-alt"></i> 985 00 00 00<br>
                        <i class="glyphicon glyphicon-globe"></i> <a href="https://www.abbagijonhotel.com/es/home.html">www.abbagijonhotel.com</a>
                    </address>
                </div>                
            </div>              

            <div class="row" > 
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" > 
                <div class="col-xs-12">
                    <h2>Hotel NH <span style="color:#EABE3F"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h2>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row" > 
                <div class="col-xs-12 col-lg-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.164322181327!2d-5.644702884042728!3d43.540616467720724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367b8147e8ff53%3A0xd8da140a73a88c75!2sHotel+NH+Gij%C3%B3n!5e0!3m2!1ses!2ses!4v1550859753069" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-xs-12 col-lg-5">
                    <table class="table table-bordered table-responsive"> 
                        <thead> 
                            <tr> 
                                <th>Tipos de Habitación</th> 
                                <th>Tarifa por habitación y noche</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td>Habitación doble HD</td> 
                                <td>105 €</td> 
                            </tr>                           
                        </tbody> 
                    </table>
                    <address>
                        <strong>Paseo Dr. Fleming, 71</strong><br>
                        33203 Gijón<br>
                        <i class="glyphicon glyphicon-phone-alt"></i> 985 19 57 55<br>
                        <i class="glyphicon glyphicon-globe"></i> <a href="https://www.nh-hotels.com/hotel/nh-gijon?gmb=new">www.nh-hotels.com/hotel/nh-gijon</a>
                    </address>
                </div>                
            </div>             

        </section>
        <section id="objetivos" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br><br>
                    <h3 class="section__main-title  section--color-dark-high">&nbsp;&nbsp;OBJETIVOS&nbsp;&nbsp;</h3>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        El 6º Congreso de Formación Profesional organizado por la Asociación de Centros de FP FPempresa, 
                        tendrá como objetivos reflexionar sobre la situación, los retos y horizontes de la Formación Profesional en España, 
                        además de servir de encuentro para todos los actores implicados en la misma. 
                        El eje central del congreso será: Nuevos retos para la docencia de la FP, la selección, la gestión, la formación y 
                        la evaluación del docente como elemento clave del sistema.
                    </p>
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        Al mismo tiempo se desarrollará la Asamblea Anual de la Asociación a la que pertenecen más de 160 centros públicos y privados de toda España.
                    </p>
                    <p class="section__text  section--color-dark-high section__text--size-low">
                        El Congreso será patrocinado por la Fundación Bankia por la Formación Dual y 
                        con la colaboración de la Consejería de Educación del Principado de Asturias y 
                        está abierto a todos los interesados en la Formación Profesional hasta completar el límite de inscripción.                     
                    </p>
                </div>





            </div>
        </section>


        <section id="patrocinadores" class="container section__container section--background-color-light section__container--padding">
            <div class="row" >
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row"  >
                <div class="col-md-4 col-sm-4 col-xs-12" style="font-size: 18px;text-align: left;font-weight:bold">Organiza:<a href="http://www.fpempresa.net"><img src="./img/logo/logo_fp_empresa.jpg" title="FPempresa"/></a></div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="font-size: 18px;text-align: left;font-weight:bold">Patrocina:<a href="http://www.bankia.es"><img  height="100px" src="./img/logo/dualiza.jpg" title="FP Dual Bankia"  /></a></div>
            </div>
            <div class="row" >
                <div class="col-xs-12">
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <br>

        </section>



        <footer  class="container-fluid section__container  section--background-color-dark section--color-light-high">

            <p class="section__text  section--color-light-high"  >
                <a href="https://twitter.com/fp_empresa" target="_blank" class="social__icon section--color-light"><i class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;#fpempresa
                <!--          <a href="https://www.facebook.com/asociacion.fpempresa" target="_blank" class="social__icon"><i class="fa fa-facebook-square"></i></a>&nbsp;&nbsp;
                                <a href="https://plus.google.com/+FPempresaNet/posts" target="_blank" class="social__icon"><i class="fa fa-google-plus-square"></i></a> -->
                <br>
                <br>
                <a href="http://fpempresa.net"  class="section--color-light">&copy; 2019 Asociaci&oacute;n de centros de FP (AC-FP)</a>
                <br>
                <br>
            </p>
        </footer>



    </body>
</html>
